/* stylesheet yay */

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header,
.headline,
.information,
.quote,
.call-to-action,
.footer {
    padding: 35px 350px;
}

/* header */

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header .logo {
    font-weight: 800;
    font-size: 18px;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.header .nav ul {
    color: rgb(207, 207, 207);
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
}

.header .nav li {
    text-decoration: none;
}


/* headline */

.headline {
    background-color: #1F2937;
}

.headline .title {
    color: #F9FAF8;
    font-size: 48px;
    border: 1px solid black;
}